<md-dialog class="dialog" aria-label="Entree">
    <form ng-cloak>
        <h1>New Activity Entree</h1>
        <div class="input">
            <md-input-container>
                <label>Activity:</label>
                <input type="text" ng-model="ic.activity.activity">
            </md-input-container>
            <md-input-container>
                <label>Location:</label>
                <input type="text" ng-model="ic.activity.where">
            </md-input-container>
            <md-input-container>
                <md-datepicker ng-model="ic.activity.when" required md-placeholder="Activity Date"></md-datepicker>
            </md-input-container>
            <md-input-container>
                <label>Website:</label>
                <input type="text" ng-model="ic.activity.website">
            </md-input-container>
            <div layout = "rows">
            <md-input-container>
                <label>Price:</label>
                <input type="text" ng-model="ic.activity.price.cost">
            </md-input-container>
            <md-radio-group ng-model="ic.activity.price.for">
                <md-radio-button value="Total" class="md-primary">Total</md-radio-button>
                <md-radio-button value="Per Person" class="md-primary">Per Person</md-radio-button>
            </md-radio-group>
            </div>
            <md-input-container>
                <label>Notes:</label>
                <textarea rows="4" cols="30" type="text" ng-model="ic.activity.details"></textarea>
            </md-input-container>
            <md-button type="submit" class="md-primary md-raised" ng-click="ic.newDetail(ic.activity, 'activities', 'add')" type="submit" class="md-raised">Submit</md-button>
        </div>
    </form>
</md-dialog>
