<md-dialog class="dialog" aria-label="Lodging">
    <form ng-cloak>
        <h1>New Lodging Entree</h1>
        <div class="input">
            <md-input-container>
                <label>Name:</label>
                <input type="text" ng-model="ic.lodging.name">
            </md-input-container>
            <md-input-container>
                <md-datepicker ng-model="ic.lodging.checkIn" required md-placeholder="Check-In"></md-datepicker>
            </md-input-container>
            <md-input-container>
                <md-datepicker ng-model="ic.lodging.checkOut" required md-placeholder="Check-Out"></md-datepicker>
            </md-input-container>
            <md-input-container>
                <label>Address:</label>
                <input type="text" ng-model="ic.lodging.address">
            </md-input-container>
            <md-input-container>
                <label>Phone Number:</label>
                <input type="tel" ng-model="ic.lodging.phoneNumber">
            </md-input-container>
            <md-input-container>
                <label>Website:</label>
                <input type="text" ng-model="ic.lodging.website">
            </md-input-container>
            <md-input-container>
                <label>Price:</label>
                <input type="text" ng-model="ic.lodging.price">
            </md-input-container>
            <md-input-container>
                <label>Notes:</label>
                <input type="text" ng-model="ic.lodging.details">
            </md-input-container>
            <md-button class="md-primary md-raised" ng-click="ic.newDetail(ic.lodging, 'lodging', 'add')" class="md-raised">Submit</md-button>
        </div>
    </form>
</md-dialog>
