<md-dialog class="dialog" aria-label="Entree">
    <form ng-cloak>
        <h1>New Activity Entree</h1>
        <div class="input">
            <md-input-container>
                <label>Activity:</label>
                <input type="text" ng-model="ic.activity.activity">
            </md-input-container>
            <md-input-container>
                <label>Location:</label>
                <input type="text" ng-model="ic.activity.where">
            </md-input-container>
            <md-input-container>
                <md-datepicker ng-model="ic.activity.when" required md-placeholder="Activity Date"></md-datepicker>
            </md-input-container>
            <md-input-container>
                <label>Website:</label>
                <input type="text" ng-model="ic.activity.website">
            </md-input-container>
            <md-input-container>
                <label>Price:</label>
                <input type="text" ng-model="ic.activity.price">
            </md-input-container>
            <md-input-container>
                <label>Notes:</label>
                <input type="text" ng-model="ic.activity.details">
            </md-input-container>
            <md-button class="md-primary md-raised" ng-click="ic.newDetail(ic.activity, 'activities', 'add')" type="submit" class="md-raised">Submit</md-button>
        </div>
    </form>
</md-dialog>
