<div ng-include="'views/partials/tripnav.html'"></div>
<div class="container">


    <div id="infoDiv">
        <div  ng-hide="ic.showEdit">
            <h1>{{ic.userService.currentTrip.data.tripDestination}}
                <i ng-click="ic.editInputs()" class="material-icons">edit</i>
                <br/>
                <span id="dates">{{ic.userService.currentTrip.data.leaveDate | date}} - {{ic.userService.currentTrip.data.returnDate | date}}</span>
            </h1>
            
            <div layout="row">
                <h3>Travellers: {{ic.userService.currentTrip.data.travellers}}</h3>
                <h3>Cost Per Person: </h3>
                <h3>Total Cost:</h3>
            </div>
        </div>

        <!-- edit div shows up when edit button is pressed-->
        <div ng-show="ic.showEdit">
            <h1>
            <input type="text" ng-model="ic.userService.currentTrip.data.tripDestination">
            </h1>
            <label>Number of Travellers: </label>
            <input type="text" ng-model="ic.userService.currentTrip.data.travellers">
            <md-datepicker ng-model="ic.userService.currentTrip.data.leaveDate"></md-datepicker>
            <md-datepicker ng-model="ic.userService.currentTrip.data.returnDate"></md-datepicker><br/>
            <md-button ng-click="ic.editTrip(ic.userService.currentTrip.data)">Save</md-button>
            <md-button ng-click="ic.hideEdit()">Cancel</md-button>
            <md-button ng-href="#/user" ng-click="ic.deleteTrip()">Delete Trip</md-button>
        </div>
    </div>
    <md-content class="tabDiv">
        <md-tabs class="tabDiv">
            <md-tab label="Transportation">
                <md-content class="tabDiv">
                    <md-button class="md-primary md-raised" ng-click="ic.showAdvanced($event)">New Transportation</md-button>
                    <md-card ng-repeat="transportation in ic.userService.currentTrip.data.transportation">
                        <!-- div for nonedit mode -->
                        <div>
                        <md-card-header>
                            <md-card-avatar>
                                <md-icon class="material-icons">{{transportation.type.icon}}</md-icon>
                            </md-card-avatar>
                            <md-card-header-text>
                            <!-- dont forget hide function -->
                                <span class="md-title">{{transportation.from}} <md-icon class="material-icons">arrow_forward</md-icon> {{transportation.to}}<md-icon ng-click="ic.explanded=!ic.expanded" class="material-icons">arrow_drop_down</md-icon></span>
                                <span class="md-subhead">{{transportation.date | date}}</span>
                            </md-card-header-text>
                        </md-card-header>
                    <!-- hide is not working currently -->
                        <md-card-content ng-hide="ic.expanded">
                            <p>{{transportation.leaveTime | date: 'shortTime'}}-{{transportation.arriveTime | date: 'shortTime'}}</p>
                            <p>{{transportation.price | currency}} Per Person</p>
                            <p>{{transportation.details}}</p>
                            <p></p>
                            <md-card-actions layout="row" layout-align="start center">
                                <md-button ng-click="ic.editDetail()">Edit</md-button>
                                <md-button ng-click="ic.newDetail(transportation, 'transportation', 'delete', transportation._id)">Delete</md-button>
                                <md-button ng-click="ic.confirmDetail()">Confirm</md-button>
                            </md-card-actions>
                        </md-card-content>
                        </div>
                        <!-- div for transportation edit -->
                        <div>
                            <md-card-header>
                                <md-card-avatar>
                                    <md-icon class="material-icons">{{transportation.type.icon}}</md-icon>
                                </md-card-avatar>
                                <md-card-header-text>
                                    <input type="text" ng-model="transportation.from">
                                    <input type="text" ng-model="transportation.to">
                                    <input type="text" ng-model="transportation.type.type">
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <md-datepicker ng-model="transportation.date"></md-datepicker>
                                <!-- time format isnt happy here -->
                                <!-- <input type="time" ng-model="transportation.leaveTime">
                                <input type="time" ng-model="transportation.arriveTime"> -->
                                <!-- time formate fix above -->
                                <input type="text" ng-model="transportation.price">
                                <input type="text" ng-model="transportation.details">
                                <md-card-actions layout="row" layout-align="start center">
                                    <md-button ng-click="ic.newDetail(transportation, 'transportation', 'edit' , transportation._id)">Submit</md-button>
                                </md-card-actions>
                            </md-card-content>
                        </div>

                    </md-card>
                </md-content>
            </md-tab>
            <md-tab label="Lodging">
                <md-content class="tabDiv">
                    <md-button class="md-primary md-raised" ng-click="ic.showAdvanced1($event)">New Lodging</md-button>
                    <div class="detailInfo" ng-repeat="lodging in ic.userService.currentTrip.data.lodging">
                        <span>{{lodging.name}}<i class="material-icons">keyboard_arrow_down</i></span>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Activities">
                <md-content class="tabDiv">
                    <md-button class="md-primary md-raised" ng-click="ic.showAdvanced2($event)">New Activity</md-button>
                    <div class="detailInfo" ng-repeat="activity in ic.userService.currentTrip.data.acivities">
                        <span>{{activity.name}}<i class="material-icons">keyboard_arrow_down</i></span>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>

</div>
</div>



