<div ng-include="'views/partials/user.html'"></div>
<div class="logIn">
    <md-content>
        <md-card>
            <img ng-src="https://static.cronj.com/img/mean-stack/mean-graphic.png" class="md-card-image">
            <md-content>
            <!-- <ul layout="column">
                <li>MongoDB</li>
                <li>Express</li>
                <li>Angular</li>
                <li>NodeJS</li>
                <li>AngularJS Material</li>
                <li>Heroku</li>
            </ul> -->
            </md-content>
        </md-card>
    </md-content>
</div>