<div ng-include="'views/partials/user.html'"></div>
<div class="container" id="trips">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <md-button class="md-raised" href="#/newtrip">Make A New Trip</md-button>
    <h2>Future Trips</h2>
    <div ng-repeat="trip in uc.tripObject.currentTrips">
        <a ng-href="#/info/{{trip._id}}" >{{trip.tripName}}</a><br/>
        {{trip.leaveDate | date}} - {{trip.returnDate | date}}
    </div>
    <h2>Past Trips</h2>
    <div ng-repeat="trip in uc.tripObject.pastTrips">
        <a href="#/info/{{trip._id}}">{{trip.tripName}}</a><br/>
        {{trip.leaveDate | date}} - {{trip.returnDate | date}}

    </div>
</div>
